#----------------------------------------------------------------------------------------------------------------------
# Playbook: Test for parity between metricbeat-indexed and legacy-indexed Monitoring docs
#
# Author: shaunak@elastic.co
#----------------------------------------------------------------------------------------------------------------------

- hosts: "{{ uut | default(lookup('env','AIT_UUT')) }}"
  roles:
    - role: elasticsearch
    - role: filebeat
    - role: metricbeat

  vars:
    monitoring_docs_dir: "{{ lookup('env', 'WORKSPACE') }}/monitoring/"
    filebeat_port: 5066

  vars_files:
    - "{{ es_var_file | default(lookup('env','ANSIBLE_GROUP_VARS')) }}"

  tasks:
    - name: Clean out old directories to hold monitoring sample docs files
      file:
        state: absent
        path: "{{ monitoring_docs_dir }}/beat"
      delegate_to: localhost

    - name: Make directories to hold monitoring sample docs files
      file:
        state: directory
        path: "{{ monitoring_docs_dir }}/beat/{{ item }}/"
      with_items:
        - legacy
        - metricbeat
      delegate_to: localhost

    - name: Start elasticsearch with monitoring collection enabled
      include_role:
        name: xpack_elasticsearch
      vars:
        elasticsearch_config_params: {"xpack.monitoring.collection.enabled: true"}
        ait_role: xpack_elasticsearch_install_gencert_config_start_verify

    - name: Run filebeat with legacy collection
      include_role:
        name: xpack_filebeat
      vars:
        ait_role: xpack_filebeat_install_config_start_verify
        filebeat_config_params: |
          xpack.monitoring.enabled: true

    - name: Wait for filebeat to index a few monitoring documents
      wait_for:
        timeout: 60

    - name: Get sample filebeat-indexed docs from monitoring index
      uri:
        method: POST
        url: "https://{{ current_host_ip }}:{{ elasticsearch_port }}/.monitoring-beats-*/_search"
        validate_certs: no
        return_content: yes
        user: "{{ elasticsearch_username }}"
        password: "{{ elasticsearch_password }}"
        body: '{ "collapse": { "field": "type" }, "sort": { "timestamp": "asc" } }'
        body_format: json
        status_code: 200
      register: xpack_elasticsearch_monitoring_sample_docs

    - name: Write sample docs to temp files
      copy:
        content: "{{ item._source }}"
        dest: "{{ monitoring_docs_dir }}/beat/legacy/{{ item._source.type }}.json"
      with_items: "{{ xpack_elasticsearch_monitoring_sample_docs.json.hits.hits }}"
      delegate_to: localhost

    - name: Stop and remove filebeat
      include_role:
        name: filebeat
      vars:
        ait_role: filebeat_shutdown_uninstall_verify

    - name: Clean out beats monitoring index
      uri:
        method: DELETE
        url: "https://{{ current_host_ip }}:{{ elasticsearch_port }}/.monitoring-beats-*"
        validate_certs: no
        user: "{{ elasticsearch_username }}"
        password: "{{ elasticsearch_password }}"
        status_code: 200

    - name: Start filebeat with HTTP server enabled
      include_role:
        name: xpack_filebeat
      vars:
        ait_role: xpack_filebeat_install_config_start_verify
        filebeat_config_params: |
          http:
            enabled: true
            host: {{ current_host_ip }}
            port: {{ filebeat_port }}

    - name: Install metricbeat
      include_role:
        name: metricbeat
      vars:
        ait_action: metricbeat_install

    - name: Enable metricbeat's beat module
      file:
        path: '{{ metricbeat_rootdir }}/modules.d/beat.yml.disabled'
        state: absent
      become: true

    - name: Configure metricbeat's beat module to collect monitoring documents
      copy:
        dest: '{{ metricbeat_rootdir }}/modules.d/beat.yml'
        content: |
          - module: beat
            metricsets:
            - state
            - stats
            period: 10s
            hosts: ["http://{{ current_host_ip }}:{{ filebeat_port }}"]
            xpack.enabled: true
      become: true

    - name: Start metricbeat
      include_role:
        name: xpack_metricbeat
      vars:
        ait_role: xpack_metricbeat_config_start_verify

    - name: Wait for metricbeat to index a few monitoring documents
      wait_for:
        timeout: 60

    - name: Stop metricbeat
      include_role:
        name: metricbeat
      vars:
        ait_action: metricbeat_shutdown

    - name: Stop and remove filebeat
      include_role:
        name: filebeat
      vars:
        ait_role: filebeat_shutdown_uninstall_verify

    - name: Get sample metricbeat-indexed docs from monitoring index
      uri:
        url: "https://{{ current_host_ip }}:{{ elasticsearch_port }}/.monitoring-beats-*/_search"
        validate_certs: no
        return_content: yes
        user: "{{ elasticsearch_username }}"
        password: "{{ elasticsearch_password }}"
        method: POST
        body: '{ "collapse": { "field": "type" }, "sort": { "timestamp": "asc" } }'
        body_format: json
        status_code: 200
      register: xpack_elasticsearch_monitoring_sample_docs

    - name: Write sample docs to temp files
      copy:
        content: "{{ item._source }}"
        dest: "{{ monitoring_docs_dir }}/beat/metricbeat/{{ item._source.type }}.json"
      with_items: "{{ xpack_elasticsearch_monitoring_sample_docs.json.hits.hits }}"
      delegate_to: localhost

    - name: Stop elasticsearch
      include_role:
        name: elasticsearch
      vars:
        ait_action: elasticsearch_shutdown

    - name: Compare legacy-indexed and metricbeat-indexed documents for parity
      shell: 'python {{ playbook_dir }}/docs_compare.py {{ monitoring_docs_dir }}/beat/legacy {{ monitoring_docs_dir }}/beat/metricbeat'
      delegate_to: localhost
