{# Template to create logstash.conf
   Author: liza.dayoub@elastic.co
#}

input {
  file {
    path => "/var/log/syslog"
    start_position => "beginning"
  }
}
output {
  elasticsearch {
    hosts => ["{{ current_host_ip }}:{{ elasticsearch_port }}"]
{% if ait_logstash_conf_xpack is defined %}
    {{ ait_logstash_conf_xpack }}
{% elif ait_args is defined %}
    {{ ait_args.get('ait_logstash_conf_xpack') }}
{%- endif -%}
  }
  stdout { codec => rubydebug }
}
